<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <!-- Remover WebDAV -->
        <remove name="WebDAV" />
        <!-- Handler ASP.NET Core -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <!-- Remover módulo WebDAV -->
        <remove name="WebDAVModule" />
      </modules>
      <aspNetCore processPath="dotnet" arguments=".\Trichechus.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>